# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Submissions (zip archives)
sumbissions/*.zip
submissions/*.zip

# NumPy data files (generated artifacts)
*.npy


#VS Code
.vscode/
